<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find PAKET_ADI)/worlds/yarisma_ortami.world"/>
        <arg name="paused" value="false"/>
    </include>

    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find PAKET_ADI)/models/iha_modeli/model.sdf -sdf -model benim_iham -x 0 -y 0 -z 0.5"/>
</launch>
